.App-navbar {
  vertical-align: top;
  text-align: left;
  padding: 18px;
  background-color: lightslategray;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.NavBar nav ul li {
  list-style-type: none;
  display: inline;
  padding-left: 20px;
}
