.App-navbar {
  vertical-align: top;
  text-align: left;
  height: 90px;
  width: 100%;
  padding: 0 15px;
  background-color: #d6bc88;
  font-family: "Work Sans", sans-serif;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.NavBar nav ul li {
  list-style-type: none;
  display: inline;
  padding-left: 20px;
  text-decoration: none;
  margin-right: 30px;
}

.NavBar nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 701;
}

.NavBar nav ul li a:hover {
  color: red;
}

@media only screen and (max-width: 530px) {
  .App-navbar {
    height: auto;
  }

  .NavBar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
